streamlit==1.31.0
pandas==2.2.0
numpy==1.26.3
gspread==6.0.0
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.111.0
google-generativeai==0.3.2
openpyxl==3.1.2
matplotlib==3.8.2
plotly==5.18.0
pytz==2024.1
streamlit-google-auth==0.1.7
